
#comment-box{

  form{
    margin-bottom: 3%;
  }

  input{
    font-size: 23px;
  }

  li{
    font-size: 21px;
    list-style: none;
  }

  .text-help{
    color: #ff5048;
  }

  .c-text{
    margin-left: 5%;
  }
  .c-date{
    font-size: 14px;
  }

}